body {
  padding: 40px;
  border: 2px solid black;
  margin: 40px;
}

.App {
  width: 400px;
  margin: 0px auto;
  border: 1px dotted rgb(47, 76, 168);
  padding: 10px;
  text-align: center;
}

.controller {
  background-color: #151515;
  padding: 10px 0px;
}

.controller button {
  width: 50px;
  background-color: white;
  color: red;
  border: 1px solid red;
  border-radius: 5px;
  margin-right: 5px;
}

.controller button:hover {
  background-color: red;
  color: white;
}